.main {
position: relative !important;
width: 800px;
font-size: 15px;
}

.date {
    position: absolute !important;
    top: 30%;
    left: 30%;
    color: black !important;
    padding-right: 20%;
}

.certpic {
    width: 100% !important;
    height: auto !important;
}

@media screen and (min-width: 400px) {
    .main {
      background-color: lightgreen;
    }
  }