

.video-one{
max-width: 100%;
}
.coursecard {
    background-color: white;
    margin: 1rem 0rem;
    border: 1px grey solid;

}

.answers{
display: block;
}

.answerinput {
    
    margin-right: 1rem; 

}

.courseTitle {
    
    border-radius: 5px;
   
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    cursor: pointer;
}

.courseTitle:hover {
    
    border-radius: 5px;
    background-color: lightgray;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    cursor: pointer;
}

