

.courseassign {
    margin: .5rem;
    color: #1189dd !important;
}
.courseassign:hover {
    margin: .5rem;
    cursor: pointer;
    color: #1189dd !important;
    border: 1px solid #1189dd !important;
}
.courseassign:active {
    margin: .5rem auto;
    width: 95%;
    display: block

}

.containers {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.sections {
    margin-top: 1rem;
}

.asgnBtn {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    background-color: #1189dd;
    border: none;
}
.asgnBtn:hover {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    background-color: lightblue !important;
    border: none;
}