

.courseassign {
    margin: .5rem;
}
.courseassign:hover {
    margin: .5rem;
    background-color: whitesmoke;
    cursor: pointer;
}
.courseassign:active {
    margin: .5rem auto;
    background-color: whitesmoke;
    width: 95%;
    display: block

}

.containers {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.sections {
    margin-top: 1rem;
}

.asgnBtn {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    background-color: #1189dd;
    border: none;
}
.asgnBtn:hover {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    background-color: lightblue !important;
    border: none;
}