
.cardcomp {
    margin: 1rem;
}
.cardcomp:hover {
    margin: 1rem;
    border: 1px solid #1189dd !important;
}

.table{
    border: 1px solid black;
    width: 75%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px grey;
    margin: .3rem;
}
.table th {

    font-size: 25px;
    padding: 1rem;
}
.table td{
    text-align: left;
    padding: 1rem;
    font-weight: bold;
 

}

.column {
    font-size: Large;
    color: #1189dd;
    padding: .2rem;
    text-align: left;
}
.row {
    border: 1px #d3d3d3 solid;
    border-radius: 10px;
}

.panel {
    color: #1189dd !important;
    font-size:large;
    cursor: pointer;
}

.colMargin {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .4rem;
}

.contMargin {
    padding-top: 2rem;
}

