
.list {
    margin: 1.5rem;
}

.listItem {
    list-style: none;
    padding: 1rem;
    box-shadow: 1px 1px 4px 1px grey;
    border-radius: 5px;
    font-weight: 600;
    width: 60%;
    text-align: center;
}

.topRow {
    color: #1189dd;
}

.border {
    border: solid 1px black;
    padding: 1rem;
}

.fullTable {
    width: 100%;
    text-align: center;
 
    
}
.tableHead {
    border: solid 1px black;
    padding: .5rem;
    width: 33%;

 
}
.tableData {
    border: solid 1px black;
    padding: .5rem;
    width: 33%;
}

.idealMargin {
margin-top: 2rem;
margin-bottom: 2rem;
}

.title {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-size: 25px;
    font-weight: 600;
}

.body {
    min-height: 500px
}

.tableRow{
color: #1189dd;
background-color: whitesmoke;
cursor:pointer;
}

.cardstyles {
    margin: .2rem;
    color: #1189dd !important;
}

.cardstyles:hover {
    margin: .2rem;
    cursor:pointer;
    border: 1px #1189dd solid !important;

}



